<!DOCTYPE html>
<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css"
      xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="form-body">
<ul>
    <li> <a href="passenger-list"> Check All Passengers</a> </li>
    <li> <a href="ticket-list"> Find a Ticket by name</a> </li>
    <li> <a href="companies-rating"> Companies Rating</a> </li>
    <li> <a href="company-list"> Search for a specific company </a> </li>
    <li> <a href="trips-count"> Search for a specific</a> </li>
</ul>
</body>
</html>