<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="form-body">
<ul>
    <li> <a href="passenger-list"> Check All Passengers</a> </li>
    <li> <a href="ticket-list"> Find a Ticket by name</a> </li>
    <li> <a href="companies-rating"> Companies Rating</a> </li>
    <li> <a href="company-list"> Search for a specific company </a> </li>
    <li> <a href="trips-list"> Search for a specific Date & Country</a> </li>
</ul>
</body>
</html>